Repository ops0-mlops/ops0: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-ops0-imports, validate-pipeline-examples, check-version-consistency

check-ops0-imports:
  name: Check ops0 imports
  entry: python scripts/check_imports.py
  language: python
  pass_filenames: false

validate-pipeline-examples:
  name: Validate pipeline examples
  entry: python scripts/validate_examples.py
  language: python
  pass_filenames: false

check-version-consistency:
  name: Check version consistency
  entry: python scripts/check_version.py
  language: python
  pass_filenames: false

Redesign CLI: Revamp command structure, enhance UX with rich visuals, and implement project scaffolding functionality.
  src/ops0/cli/__init__.py
  src/ops0/cli/commands.py
  src/ops0/cli/config.py
  src/ops0/cli/doctor.py
  src/ops0/cli/main.py
  src/ops0/cli/utils.py
Due: check-ops0-imports

Update .gitignore: Improve exclusions for IDE, cache, and local config files
  .gitignore
Due: none

Update .gitignore: Fix duplicate entry for `/core/__pycache__/`
  .gitignore
Due: none

update
  core/__pycache__/__init__.cpython-313.pyc
  core/__pycache__/analyzer.cpython-313.pyc
  core/__pycache__/executor.cpython-313.pyc
  core/__pycache__/graph.cpython-313.pyc
Due: none

Delete .idea directory
  .idea/.gitignore
  .idea/inspectionProfiles/profiles_settings.xml
  .idea/misc.xml
  .idea/modules.xml
  .idea/ops0.iml
  .idea/vcs.xml
Due: none

Add extensible hooks system and core exception hierarchy
  src/ops0/core/__init__.py
  src/ops0/core/exceptions.py
  src/ops0/core/hooks.py
  src/ops0/runtime/containers.py
Due: check-ops0-imports

Add configuration and registry modules
  src/ops0/core/config.py
  src/ops0/core/models.py
  src/ops0/core/registry.py
  src/ops0/core/validation.py
Due: check-ops0-imports

Refactor core components:
  src/ops0/core/__init__.py
  src/ops0/core/analyzer.py
  src/ops0/core/config.py
  src/ops0/core/exceptions.py
  src/ops0/core/executor.py
  src/ops0/core/graph.py
  src/ops0/core/hooks.py
  src/ops0/core/registry.py
  src/ops0/core/storage.py
Due: check-ops0-imports

Add GitHub templates for discussions, issues, funding, and dependabot configuration
  .github/CODEOWNERS
  .github/DISCUSSION_TEMPLATE/general.yml
  .github/DISCUSSION_TEMPLATE/ideas.yml
  .github/DISCUSSION_TEMPLATE/q-and-a.yml
  .github/DISCUSSION_TEMPLATE/show-and-tell.yml
  .github/FUNDING.yml
  .github/ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/documentation.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/performances.yml
  .github/PULL_REQUEST_TEMPLATE.md
  .github/SECURITY.md
  .github/codeql/codeql-config.yml
  .github/dependabot.yml
  .github/labels.yml
  .github/pull_request_template.md
  .github/scripts/check_docs_links.py
  .github/scripts/check_imports.py
  .github/scripts/check_version.py
  .github/scripts/setup-dev.sh
  .github/scripts/validate_examples.py
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/project-management.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
Due: none

Fix missing newline at end of `.github/workflows/release.yml`.
  .github/workflows/release.yml
Due: none

Add `process_bandit_report.py` to automate Bandit security scan report processing for GitHub Actions
  .github/scripts/process_bandit_report.py
Due: none

Fix missing newline at end of `.github/ISSUE_TEMPLATE/feature_request.yml` and `.github/codeql/codeql-config.yml`.
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/codeql/codeql-config.yml
Due: none

Refactor and enhance containerization:
  src/ops0/runtime/__init__.py
  src/ops0/runtime/cloud_adapters.py
  src/ops0/runtime/containers.py
  src/ops0/runtime/monitoring.py
  src/ops0/runtime/orchestrator.py
  src/ops0/runtime/scaling.py
  src/ops0/runtime/scheduler.py
  src/ops0/runtime/utils.py
Due: check-ops0-imports

Add `utils` module with comprehensive utilities and enhance `storage.py`
  src/ops0/core/storage.py
  src/ops0/utils/README.md
  src/ops0/utils/__init__.py
  src/ops0/utils/caching.py
  src/ops0/utils/concurrency.py
  src/ops0/utils/config.py
  src/ops0/utils/filesystem.py
  src/ops0/utils/formatting.py
  src/ops0/utils/hashing.py
  src/ops0/utils/helpers.py
  src/ops0/utils/logging.py
  src/ops0/utils/network.py
  src/ops0/utils/retry.py
  src/ops0/utils/security.py
  src/ops0/utils/serialization.py
  src/ops0/utils/system.py
  src/ops0/utils/validation.py
  tests/unit/test_storage.py
Due: check-ops0-imports

Add ML framework integrations module
  src/ops0/integrations/README.md
  src/ops0/integrations/__init__.py
  src/ops0/integrations/base.py
  src/ops0/integrations/example_pipeline.py
  src/ops0/integrations/hugginface_integration.py
  src/ops0/integrations/lightgbm_integration.py
  src/ops0/integrations/mlflow.py
  src/ops0/integrations/numpy_integration.py
  src/ops0/integrations/pandas.py
  src/ops0/integrations/pandas_integration.py
  src/ops0/integrations/pytorch.py
  src/ops0/integrations/pytorch_integration.py
  src/ops0/integrations/sklearn.py
  src/ops0/integrations/sklearn_integration.py
  src/ops0/integrations/tensorflow.py
  src/ops0/integrations/tensorflow_integration.py
  src/ops0/integrations/test_integration.py
  src/ops0/integrations/wandb.py
  src/ops0/integrations/xgboost_integration.py
Due: check-ops0-imports

Add Kubernetes provider implementation
  src/ops0/cloud/__init__.py
  src/ops0/cloud/autoscaler.py
  src/ops0/cloud/aws.py
  src/ops0/cloud/azure.py
  src/ops0/cloud/base.py
  src/ops0/cloud/cost.py
  src/ops0/cloud/gcp.py
  src/ops0/cloud/kubernetes.py
  src/ops0/cloud/local.py
  src/ops0/cloud/monitor.py
  src/ops0/cloud/orchestrator.py
Due: check-ops0-imports

Refactor `PipelineExecutor` for enhanced execution management and introduce advanced containerization features
  src/ops0/cloud/orchestrator.py
  src/ops0/core/executor.py
  src/ops0/runtime/containers.py
Due: check-ops0-imports

Refactor imports for consistency and add indentation fix in `FunctionAnalyzer` source code retrieval, introduce default values for registry entries, and add new dependencies in `requirements.txt`.
  requirements.txt
  src/ops0/__init__.py
  src/ops0/cli/commands.py
  src/ops0/cli/main.py
  src/ops0/cli/utils.py
  src/ops0/core/analyzer.py
  src/ops0/core/decorators.py
  src/ops0/core/registry.py
  src/ops0/core/storage.py
  src/ops0/core/validation.py
  src/ops0/integrations/base.py
  src/ops0/runtime/monitoring.py
  src/ops0/runtime/orchestrator.py
  test_deploy.py
Due: check-ops0-imports

Update FUNDING.yml
  .github/FUNDING.yml
Due: none

Remove `ops0/cli/commands.py` as part of deprecating old CLI command implementations.
  src/ops0/cli/__init__.py
  src/ops0/cli/cli.py
  src/ops0/cli/commands.py
  src/ops0/cli/config.py
  src/ops0/cli/deploy.py
  src/ops0/cli/describe.py
  src/ops0/cli/doctor.py
  src/ops0/cli/init.py
  src/ops0/cli/list.py
  src/ops0/cli/logs.py
  src/ops0/cli/main.py
  src/ops0/cli/rollback.py
  src/ops0/cli/run.py
  src/ops0/cli/status.py
  src/ops0/cli/utils.py
Due: check-ops0-imports

Update `.gitignore` to include IntelliJ IDEA project files
  .gitignore
Due: none

Introduce new `ops0` architecture with core modules and enhanced features
  examples/simple_pipeline.py
  ops0/cdk/generator.py
  ops0/decorators.py
  ops0/executor.py
  ops0/parser.py
  ops0/storage.py
  tests/test_parser
  tests/test_parser.py
  tests/test_storage
  tests/test_storage.py
Due: validate-pipeline-examples

Refactor `ops0` core modules to enhance execution, dependency management, and CLI utilities.
  ops0/__init__..py
  ops0/cdk/generator.py
  ops0/cli.py
  ops0/decorators.py
  ops0/executor.py
  ops0/parser.py
  requirements.txt
Due: none

Update README.md to fix anchor link formatting in the table of contents
  README.md
Due: none

Introduce `ops0.cdk` module for automated CDK application generation and deployment
  examples/fraud_detection.py
  ops0/cdk/__init__.py
  ops0/cdk/templates/lambda_function.py.j2
  ops0/cdk/templates/step_functions.py.j2
Due: validate-pipeline-examples

Add comprehensive unit tests for `@step`, `@pipeline`, and `@monitor` decorators, `FunctionAnalyzer`, and DAG building
  tests/test_decorators.py
  tests/test_executor.py
  tests/test_parser.py
Due: none

Add comprehensive unit and integration tests for `ops0.storage` module
  tests/test_storage.py
Due: none

Add comprehensive unit and integration tests for `ops0.storage` module
  ops0/cli.py
Due: none

Refactor module structure, add `pyproject.toml`, and enhance dependency management
  ops0/__init__.py
  ops0/storage.py
  pyproject.toml
  setup.py
Due: check-version-consistency

Refactor module structure, add `pyproject.toml`, and enhance dependency management
  ops0/cli.py
Due: none

Path conditions:
  check-ops0-imports: any of: ^src/ops0/
  validate-pipeline-examples: any of: ^examples/.*\.py$
  check-version-consistency: any of: ^(src/ops0/__about__.py|pyproject.toml)$
